
<div class="addNew">

  <button v-if="addnew == 'A' " @click="addNewtask">
    <span>+</span>add Task
  </button>

  <div class="addTodo" v-else>

    <div class="title">
      <div class="text-group">
        <input type="checkbox" class="check" id="check">
        <input type="text" class="todoTitle" v-model.trim="todo" placeholder="Type Something Here…">
      </div>
      <div class="pic-group">

        <input type="checkbox" class="star-group" id="star" @click="markHandler" v-model="mark">
        <label class="star" for="star"  v-if="mark==false"></label>
        <label class="star_full" for="star" v-else></label>


        <div class="edit"></div>
      </div>
    </div>


    <div class="task">
      <div class="add">
        <div class="deadline">
          <div class="title">
            <img src="../../assets/pic/deadlines.png" alt="">
            <span>Deadline</span>        
          </div>
          <input type="date" v-model="deadline" name="bday">
        </div>
        <div class="comment">
          <div class="title">
            <img src="../../assets/pic/comment.png" alt="">
            <span>Comment</span>
          </div>
          <textarea name="" id="" cols="30" rows="6" 
            placeholder="備註欄"
            v-model="comment"
            >
          </textarea>
        </div>
      </div>
      <div class="bottom-group">
        <button class="cancel" @click="cancelHandler">Cancel</button>
        <button class="addTask" @click="submitHandler"><span>+</span>AddTask</button>
      </div>
    </div>

  </div>

</div>